.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 3.2rem;
    font-weight: bold;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 4rem;
  }
}
