.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    max-width: 960px;

    .tag-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 2rem;

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }
}
