.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    max-width: calc(300px * 3 + 30px * 2);
    list-style: none;
  }
}
