.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    max-width: 960px;
    margin-top: 4rem;

    .tag-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1rem;

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.6rem;
      font-weight: 700;

      div {
        display: flex;
      }

      a {
        display: inline-block;
        font-weight: 400;
        color: #0070f3;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 2rem;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
  }
}
