.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 200px);
  padding: 16px;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .tags {
    display: flex;
    overflow-x: auto;
    gap: 8px;
  }
}
