:root {
  --primary: #8BCFF9;
  --accent: #FFDF58;
  --background: #d4ecfa;
  --foreground: #000000;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  height: 200vh;
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-biz-ud-p-gothic), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
