:root {
  --primary: #8bcff9;
  --accent: #ffdf58;
  --background: #d4ecfa;
  --foreground: #000000;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  font-family: var(--font-biz-ud-p-gothic), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;

  background:
    radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 4px),
    radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 4px),
    linear-gradient(var(--background) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      rgba(165, 165, 165, 0.25) 75px,
      rgba(165, 165, 165, 0.25) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      rgba(165, 165, 165, 0.25) 76px,
      rgba(165, 165, 165, 0.25) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--background);
  background-size:
    109px 109px,
    109px 109px,
    100% 6px,
    109px 109px,
    109px 109px;
  background-position:
    54px 55px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
