.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .message {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .homeLink {
    font-size: 1.5rem;
    color: var(--primary);
    text-decoration: underline;
  }
}
