.tag {
  display: inline-block;
  color: black;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genre {
  background-color: var(--accent);
}

.creator {
  background-color: var(--background);
}

@media (max-width: 600px) {
  .tag {
    font-size: 1.4rem;
  }
}