.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(86deg, var(--primary), var(--background));
  opacity: 0.75;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;

  .logo {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 20px;
    height: 75px;
    width: auto;
  }

  .logo:hover {
    transform: rotate(-5deg);
    transition: transform 0.2s ease;
  }
}
