.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(86deg, var(--primary), var(--background));
  opacity: 0.75;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  .logo {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-left: 44px;
  }
}
