.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(86deg, var(--primary), var(--background));
  opacity: 0.75;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px) saturate(180%);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);

  .logo {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 20px;
    height: 75px;
    width: auto;
    z-index: 11;
  }

  .logo:hover {
    transform: rotate(-5deg);
    transition: transform 0.2s ease;
  }
}
