.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    86deg,
    color-mix(in srgb, var(--primary) 50%, transparent),
    color-mix(in srgb, var(--background) 50%, transparent)
  );
  z-index: 10;
  backdrop-filter: blur(10px) saturate(180%);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-shadow:
    0 8px 12px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
  padding: 0 20px;

  .logo {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    height: 75px;
    width: auto;
    z-index: 11;
  }

  .logo:hover {
    transform: rotate(-5deg);
    transition: transform 0.2s ease;
  }
}
