.badge-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5733;
  padding: 6px 10px;
  max-width: 160px;
  min-width: 50px;
  min-height: 50px;
}

.badge-container:before,
.badge-container:after,
.badge-wrapper,
.badge-wrapper:before {
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  content: "";
}

.badge-container:before {
  transform: rotate(22deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.badge-container:after {
  transform: rotate(-22deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.badge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.badge-wrapper:before {
  transform: rotate(45deg);
  z-index: -1;
}

.badge {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  color: white;
  padding: 0.1rem 0.2rem;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  line-height: 1.1;
}
