.thumbnail {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  img {
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 210px);
  padding: 16px;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .date {
    font-size: 1.6rem;
    color: #a5a5a5;
  }
}
