.thumbnail {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.info {
  padding: 16px;

  .title {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .date {
    font-size: 1.6rem;
    color: #a5a5a5;
  }
}
