.thumbnail {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  img {
    transition: transform 0.3s ease;
    object-fit: cover;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.link {
  position: relative;
  display: block;
  height: 100%;
}

.badges {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  flex-direction: row-reverse;
  gap: 14px;
  align-items: flex-start;
  z-index: 2;
  white-space: nowrap;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 200px);
  padding: 16px;
  overflow: hidden;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f5f5f5;
  }

  .tags > * {
    flex-shrink: 0;
    min-width: max-content;
  }
}
