.card {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 4px 4px 4px var(--primary);
    transition: box-shadow 0.5s ease;
  }
}
