.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vw;
  max-height: 500px;
  background-color: rgba(255, 255, 255, 0.75);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 50vw;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.4);
    z-index: 0;
  }

  .title {
    font-family: var(--font-roboto-slab);
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-shadow:
      2px 2px 8px rgba(0, 0, 0, 0.8),
      0 0 20px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  @media (max-width: 899px) {
    height: 60vw;
    max-height: 400px;

    &::before {
      height: 60vw;
      max-height: 400px;
    }

    .title {
      font-size: 3.6rem;
    }
  }

  @media (max-width: 599px) {
    height: 70vw;
    max-height: 300px;

    &::before {
      height: 70vw;
      max-height: 300px;
    }

    .title {
      font-size: 2.8rem;
    }
  }
}
