.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vw;
  max-height: 500px;
  background-color: rgba(255, 255, 255, 0.75);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 50vw;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 0;
  }

  .title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
  }
}
